<div class="d-flex justify-content-between flex-wrap">
    <h5 class="card-title fw-bold pb-3">Today's Headlines</h5>
    <ul class="list-inline mb-0">
        <li class="list-inline-item small"><a href="#">Contact AIR-I</a></li>
        <li class="list-inline-item small">
            <a href="#" (click)="openModal(headlineModal)">Add Headline</a>
        </li>
        <li class="list-inline-item small">
            <a href="#">View All</a>
        </li>
        <li class="list-inline-item small icon-link">
            <a href="#" (click)="refreshHeadlines()">
                <fa-icon [icon]="faRotateRight"></fa-icon>
            </a>
        </li>
    </ul>
</div>

<div *ngFor="let headline of headlines | slice: 0:10" class="card mb-2">
    <div class="card-body d-flex align-items-center justify-content-between icon-link">
        <!-- Headline Subject -->
        <p class="card-title mb-0">
            <a href="#" (click)="openHeadline(headline.id, listModal)">
                {{ headline.subject }}
            </a>
        </p>

        <!-- Edit Button -->
        <a href="#" (click)="openModal(headlineModal, headline)">
            <fa-icon [icon]="faEdit"></fa-icon>
        </a>
    </div>
</div>

<!-- Headline List Modal -->
<ng-template #listModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">{{ selectedHeadline?.subject }}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div>
            <p class="c-label">Posted By:</p>
            <p>{{ selectedHeadline?.postedBy }}</p>
        </div>
        <div>
            <p class="c-label">Body:</p>
            <p>{{ selectedHeadline?.body }}</p>
        </div>
        <div>
            <p class="c-label">Active Date:</p>
            <p>{{ selectedHeadline?.postActiveDate }}</p>
        </div>
        <div>
            <p class="c-label">Active Date:</p>
            <p>{{ selectedHeadline?.postRemoveDate }}</p>
        </div>
        <div>
            <p class="c-label">Active Date:</p>
            <p>{{ selectedHeadline?.postDeleteDate }}</p>
        </div>
        <div>
            <p class="c-label">Shared:</p>
            <p>{{ selectedHeadline?.sharedUsers?.join(', ') }}</p>
        </div>
        <div>
            <p class="c-label">Collaborators:</p>
            <p>{{ selectedHeadline?.collaborators?.join(', ') }}</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
    </div>
</ng-template>

<!-- Add/Edit Headline Modal -->
<ng-template #headlineModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">{{ selectedHeadline.id ? 'Edit Headline' : 'Add Headline' }}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form>
            <!-- TODO: Add prefill functionality-->
            <div class="input-group mb-3">
                <input
                    type="text"
                    class="form-control"
                    id="postedBy"
                    name="postedBy"
                    [(ngModel)]="selectedHeadline.postedBy"
                    placeholder="admin"
                    readonly
                />
            </div>
            <div class="form-floating mb-3">
                <input
                    type="text"
                    class="form-control"
                    id="subject"
                    name="subject"
                    [(ngModel)]="selectedHeadline.subject"
                    placeholder="Headline Subject"
                    required
                />
                <label for="subject">Subject</label>
            </div>
            <div class="form-floating mb-3">
                <textarea
                    style="height: 100px"
                    class="form-control"
                    id="body"
                    name="body"
                    [(ngModel)]="selectedHeadline.body"
                    placeholder="Headline Body"
                    required
                ></textarea>
                <label for="body">Body</label>
            </div>
            <div class="form-floating mb-3">
                <input
                    type="datetime-local"
                    class="form-control"
                    id="postActiveDate"
                    name="postActiveDate"
                    [(ngModel)]="selectedHeadline.postActiveDate"
                />
                <label for="postActiveDate">Post Active Date</label>
            </div>
            <div class="form-floating mb-3">
                <input
                    type="datetime-local"
                    class="form-control"
                    id="postRemoveDate"
                    name="postRemoveDate"
                    [(ngModel)]="selectedHeadline.postRemoveDate"
                />
                <label for="postRemoveDate">Post Remove Date</label>
            </div>
            <div class="form-floating mb-3">
                <input
                    type="datetime-local"
                    class="form-control"
                    id="postDeleteDate"
                    name="postDeleteDate"
                    [(ngModel)]="selectedHeadline.postDeleteDate"
                />
                <label for="postDeleteDate">Post Delete Date</label>
            </div>
            <div class="form-floating mb-3 position-relative">
                <input
                    type="text"
                    class="form-control"
                    id="sharedUsers"
                    name="sharedUsers"
                    [(ngModel)]="sharedUsersInput"
                    (input)="onSharedUsersInput()"
                    placeholder="Shared Users"
                />
                <label for="sharedUsers">Share</label>
                <ul class="dropdown-menu show position-absolute w-100" *ngIf="filteredUsers.length > 0">
                    <li *ngFor="let user of filteredUsers"
                        class="dropdown-item"
                        (click)="addSharedUser(user)"
                        (keydown)="handleKeyDown($event, user, 'sharedUsers')"
                    >
                        {{ user.username }}
                    </li>
                </ul>
            </div>
            <div class="mb-3">
                 <span *ngFor="let user of selectedHeadline.sharedUsers" class="badge bg-primary me-2">{{ user }}
                    <button type="button" class="btn-close btn-close-white ms-1" (click)="removeSharedUser(user)"></button>
                </span>
            </div>
            <div class="form-floating mb-3 position-relative">
                <input
                    type="text"
                    class="form-control"
                    id="collaborators"
                    name="collaborators"
                    [(ngModel)]="collaboratorsInput"
                    (input)="onCollaboratorsInput()"
                    placeholder="Collaborators"
                />
                <label for="collaborators">Collaborators</label>
                <ul class="dropdown-menu show position-absolute w-100" *ngIf="filteredCollaborators.length > 0">
                    <li
                        *ngFor="let user of filteredCollaborators"
                        class="dropdown-item"
                        (click)="addCollaborator(user)"
                        (keydown)="handleKeyDown($event, user, 'collaborators')"
                    >
                        {{ user.username }}
                    </li>
                </ul>
            </div>
            <div class="mt-2">
                <span *ngFor="let user of selectedHeadline.collaborators" class="badge bg-success me-2">
                    {{ user }}
                    <button type="button" class="btn-close btn-close-white ms-1" (click)="removeCollaborator(user)"></button>
                </span>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="d-flex justify-content-between w-100">
            <!-- Delete Button -->
            <button
                *ngIf="selectedHeadline?.id"
                type="button"
                class="btn btn-outline-danger"
                (click)="deleteHeadline(selectedHeadline.id!, modal)">
                Delete
            </button>

            <!-- Cancel and Save Buttons -->
            <div [ngClass]="{ 'ms-auto': !selectedHeadline?.id }">
                <button type="button" class="btn btn-secondary me-1" (click)="modal.dismiss('Cancel click')">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="saveHeadline(modal)">
                    {{ selectedHeadline?.id ? 'Update' : 'Add' }}
                </button>
            </div>
        </div>
    </div>

</ng-template>
